footer{
    img{
        
        width: 50px;
    }
}

main{
    background-image: url(../assets/img/fondo2.png);
    background-size: imgfluid;
    background-position: center top;
    background-repeat: no-repeat;
}